.Dictionary h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: rgb(208, 219, 231);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: rgb(2, 24, 24);
  border: 1px solid rgb(35, 136, 167);
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
